body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('espace.jpg') center center fixed;
    background-size: cover;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
}

.logo {
    display: block;
    margin: 0 auto;
    transition: transform 0.4s; /* Ajout de la transition */
}

.logo:hover {
    transform: rotate(180deg); /* Rotation à 180 degrés lors du survol */
}

.header-text {
    text-align: center;
    transition: transform 0.4s; /* Ajout de la transition */
}

.header-text:hover {
    transform: rotate(180deg); /* Rotation à 180 degrés lors du survol */
}

nav {
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    position: relative;
    transition: color 0s;
}

nav a:hover {
    color: transparent;
}

nav a::before {
    content: attr(data-hover-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    color: white;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s;
}

nav a:hover::before {
    transform: translate(-50%, -50%) rotate(180deg);
    opacity: 1;
}


section {
    padding: 20px;
    margin: 20px;
    background-color: #ddd;
}

section ul li {
    margin-bottom: 7px
}

footer {
    background: url('espace.jpg') center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
